h1 {
  font-weight: 500;
  font-size: 50px;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  text-shadow: 4px 4px #000000;
}

.router {
  min-height: calc(100vh - 180px);
}
