<div class="course-details-container">
  <h1>Course Details</h1>
  <div class="course-detail-card">
    <img src="{{ course.imageUrl }}" alt="History" class="course-detail-img" />
    <div class="course-info">
      <h2 class="course-title">{{ course.title }}</h2>
      <p class="course-description">{{ course.description }}</p>
      <p class="course-start-date">Start Date: {{ course.startDate }}</p>
      <p class="course-price">Price: ${{ course.price }}</p>
      <p class="course-signed-count">Signed students: {{course.signedOut.length || 0}}</p>
      @if (isOwner) {
      <div class="btn edit-btn" routerLink="/courses/{{ course._id }}/edit">
        Edit
      </div>
      <div
        class="btn delete-btn"
        routerLink="/courses/{{ course._id }}/delete"
        (click)="deleteCourse()"
      >
        Delete
      </div>
      } @else if (isLoggedIn) {
        @if (!isSignedOut) {
          <div
          class="btn sign-btn"
          routerLink="/courses/{{ course._id }}/sign"
          (click)="signOutForCourse()"
        >
          Sign
        </div>
        } @else {
          <div
          class="btn sign-btn">
          You have already signed up for this course!
        </div>
        }

      }
    </div>
  </div>
</div>
