<div class="search-container">
  <h1>Search through our catalog:</h1>
  <form>
    <input
      type="text"
      placeholder="Search for activities..."
      class="search-bar"
      #inputRef
    />
    <button
      (click)="getResults($event, inputRef.value)"
      type="submit"
      class="search-button"
    >
      Search
    </button>
  </form>
</div>

<div class="results-container">
  @if (activitiesArr.length > 0) { @for (each of activitiesArr; track $index) {
  <div class="course-card">
    <img src="{{ each.imageUrl }}" alt="{{ each.title }}" class="course-img" />
    <div class="course-details">
      <h3 class="course-title">{{ each.title }}</h3>
      <p class="course-description">
        {{ each.description }}
      </p>
      <button (click)="goToDetails(each._id)" class="btn details-btn">
        Details
      </button>
    </div>
  </div>
  } } @else {
  <div class="no-results">
    <p>No results found.<br /><br />Don't hesitate and search something!</p>
  </div>
  }
</div>
