@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

footer {
    width: 100%;
    background-color: black;
    color: white;
    height: 30px;
    margin: 0;
    padding: 10px;
    font-family: "Madimi One", sans-serif;
    font-weight: 500;
    font-size: large;
    font-style: normal;
    text-align: center;
    bottom: 0;
    position: fixed; /* Changed from absolute to fixed */
    left: 0;
}
