@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

body {
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px #000000;
}

.form-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000000;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.error {
  display: block;
  font-size: 14px;
  color: #ff0000;
  margin-bottom: 10px;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

button.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: rgb(0, 128, 0);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Madimi One", sans-serif;
  text-shadow: 2px 2px #000000;
  margin-bottom: 10px;
}

button.submit-btn:hover {
  background-color: rgb(0, 100, 0);
}

.input-group.invalid input {
  border-color: #ff0000;
}

.input-group.valid input {
  border-color: #00ff00;
}


button.cancel-btn {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Madimi One", sans-serif;
  text-shadow: 2px 2px #000000;
}

button.cancel-btn:hover {
  background-color: rgb(180, 0, 0);
}