<div class="search-container">
  <h1>Search through our catalog: </h1>
  <form>
      <input type="text" placeholder="Search for courses..." class="search-bar">
      <button type="submit" class="search-button">Search</button>
  </form>
</div>

<div class="results-container">
  @if (results) {
      <div class="course-card">
          <img src="https://study.com/cimages/course-image/history-301-historiography-historical-methods_699413_large.jpeg" 
               alt="History" class="course-img">
          <div class="course-details">
              <h3 class="course-title">History</h3>
              <p class="course-description">
                  This course offers an overview of the key events, ideas, and developments that have shaped human 
                  history from ancient civilizations to the present.
              </p>
              <div class="btn details-btn">Details</div>
          </div>
      </div>

      <div class="course-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW8vOydEeNfYAHkXO4IpB-iGSEtm5lwmNo-A&s" 
               alt="Programming" class="course-img">
          <div class="course-details">
              <h3 class="course-title">Programming</h3>
              <p class="course-description">
                  This course provides a hands-on introduction to programming, focusing on core concepts such as 
                  variables, control structures, functions, and data types.
              </p>
              <div class="btn details-btn">Details</div>
          </div>
      </div>

      <div class="course-card">
          <img src="https://bonnevilleacademy.org/storage/2023/04/Why-Math-Is-Important-for-Kids-1024x683.jpeg" 
               alt="Math" class="course-img">
          <div class="course-details">
              <h3 class="course-title">Math</h3>
              <p class="course-description">
                  This course provides a comprehensive introduction to fundamental mathematical concepts, including 
                  algebra, geometry, statistics, and basic calculus.
              </p>
              <div class="btn details-btn">Details</div>
          </div>
      </div>
  } @else {
      <div class="no-results">
          <p>No courses found. Please try a different search.</p>
      </div>
  }
</div>
