<div class="about-container">
  <h1>About Us:</h1>
  <p>Welcome to Second English Language High School's Activity Hub: 
    <br><br>Platform designed to bring our student community together! Here, students can share exciting activities, events, and initiatives, inviting others to participate and connect. Whether you're organizing a club meeting, 
    <br>planning a sports event, or hosting a workshop, our platform makes it easy to share and join in the fun.
    <br><br>Join us in creating a vibrant, inclusive space where everyone can explore their interests, make new connections, and engage in the school’s dynamic spirit. Let's grow, learn, and thrive together!</p>
  <h2>Contact the Creator:</h2>
  <p>If you have any questions, feedback, or just want to say hi, feel free to reach out:</p>
  <ul>
    <li>Email: <a href="mailto:nikolay.b.todorov@gmail.com">nikolay.b.todorov&#64;gmail.com</a></li>
  </ul>
</div>
