<div class="about-container">
    <h1>About Us:</h1>
    <p>Welcome to The Window of Knowledge! We are dedicated to providing high-quality, accessible, and engaging educational experiences for learners of all backgrounds. Our mission is to help you develop the skills and knowledge you need to succeed.</p>
    <h2>Contact the Creator:</h2>
    <p>If you have any questions, feedback, or just want to say hi, feel free to reach out:</p>
    <ul>
      <li>Email: <a href="mailto:mmihji7@gmail.com">mmihji7&#64;gmail.com</a></li>
    </ul>
  </div>
  
