@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");


body {
    text-decoration: none;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px #000000;
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #333;
    margin: 0 auto;
  }
  
  .about-container {
    text-decoration: none;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px #000000;
    width: 100%;
    max-width: 800px;
    margin: 200px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
  
  .about-container h1 {
    font-size: 2.5rem;
    color: rgb(0, 255, 255);
    margin-bottom: 20px;
  }
  
  .about-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-container h2 {
    font-size: 2rem;
    color: rgb(0, 255, 255);
    margin-bottom: 10px;
  }
  
  .about-container ul {
    list-style: none;
    padding: 0;
  }
  
  .about-container ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .about-container ul li a {
    color: rgb(0, 255, 255);
    text-decoration: none;
  }
  
  .about-container ul li a:hover {
    text-decoration: underline;
  }
  